<header role="banner">
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <hr>
<!--
    <nav class="site-nav">
    <div class="trigger">
    {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} </a> |
    {% endif %}
    {% endfor %}
    </div>
    </nav>
-->
</div>
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101178693);</script>
<script async src="//static.getclicky.com/js"></script>
</header>
